.jSelect {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
}

.jSelect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jSelect select {
    display: none !important;
}

.jSelect .jSelect-selected {
    width: 100%;
    height: 35px;
    position: relative;
    padding: 5px 10px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    background: #FFF;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}

.jSelect .jSelect-selected.placeholder {
    color: #D0D0D0;
}

.jSelect.disabled .jSelect-selected {
    background: #929292;
    color: #D6D6D6;
    cursor: not-allowed;
}

.jSelect .jSelect-selected:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #9E9C9C;
    border-bottom: none;
}

.jSelect.open .jSelect-selected {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.jSelect.open .jSelect-selected {
    border-color: #4D9AF4;
}

.jSelect.open .jSelect-selected:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #9E9C9C;
    border-top: none;
}

.jSelect .jSelect-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 999;
    left: 0;
    top: 33px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    background: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.jSelect.open .jSelect-wrapper {
    display: block;
    border-color: #4D9AF4;
    border-top-color: #DDDDDD;
}

.jSelect .jSelect-wrapper .jSelect-option {
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1.2;
}

.jSelect .jSelect-wrapper .jSelect-option:hover, .jSelect .jSelect-wrapper .jSelect-option.active {
    background: #177BBB;
    color: #ffffff;
}

.jSelect .jSelect-wrapper .jSelect-option:last-child:hover {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}